.footer-comp {
  .level {
    .level-left {
      .level-item {
        margin-left: 10px;
      }
    }

    .level-right {
      .level-item {
        margin-right: 10px;
      }
    }
  }
  footer {
    &.card-footer {
      a {
        &.is-active {
          background-color: #3f51b5;
          color: #fff;
        }
      }
    }
  }
}
